* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

html,
body{
    height:100% ;
}

section {
  border: 3px solid black;
  height: 500px;
  margin: 50px;
  display: flex;
  gap: 10px;
  height: 80%;
  flex-wrap: wrap;
  /* flex-direction: row is default*/
  /* justify-content: (horizontal adjustment-row); can also use space*/
  /* align-items: vertical adjustment-row; flipped for column*/
  /* align-content: ; is the whole thing, not individual items*/
  align-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  text-align: center;
  font-size: 5em;
  color: antiquewhite;
  line-height: 100px;
}
