/* img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  object-position: center;
} */
/* .col {
    float: left;
    padding: 0 5px;
  } */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding: 0 5px;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-12 {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

/* img{
    width: 100%;
    height: 300px;
    object-fit: cover;
} */
/* 
iframe{
    width: 800px;
    height: 500px;
} */

body {
    padding: 5px;
}

input[type="email"]{
  border: 3px solid red;
}